<h1>Log in</h1>

<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <br><br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br><br>
  <%= f.submit "Log in" %>
<% end %>

<p>Don't have an account? Please <%=link_to "Sign Up", users_new_path %> </p>